# Ignore Python byte-code files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore environment and dependency files
.env
.venv/
env/
venv/
pip-log.txt
Pipfile.lock

# Ignore logs and temporary files
*.log
*.swp
*.swo
*.tmp
*.bak

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled files
/dist/
/build/
/*.egg-info/
